.con {
  position: relative;
  background: url("../images/wall.jpg");
  min-height: 100vh;
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  vertical-align: middle;
}

.main-area {
  margin-left: 25%;
  margin-right: 25%;
  background-color: #fff;
  min-height: 100vh;
  /* color: white; */
}

.timer-c {
  background-color: #e5e5e5;
  height: 4rem;
  width: 4rem;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.timer-line {
  display: flex;
  justify-content: center;
  margin-top: 5rem;
  background-color: #e5e5e5;
  height: 2rem;
  width: 100%;
}

.q-section {
  margin-top: 4rem;
  margin-left: 9%;
  margin-right: 9%;
}

.q-count {
  font-weight: 400;
  color: crimson;
  margin-top: 1.5rem;
}

.ans-section {
  margin-top: 3.5rem;
  margin-left: 9%;
  margin-right: 9%;
}

.click {
  padding-left: 1.5rem;
  text-align: start;
  background-color: #f9f9f9;
  box-shadow: 3px 3px 10px darkgray;
  margin-bottom: 3rem;
  border-radius: 100px;
}

.click:hover {
  background-color: antiquewhite;
}

@media screen and (max-width: 500px) {
  .main-area {
    margin-left: 5%;
    margin-right: 5%;
  }
  .click {
    margin-bottom: 1.5rem;
  }
}

.score {
  margin-top: 2rem;
  background-color: #f9f9f9;
  height: 10rem;
  width: 15rem;
  border-radius: 5%;
  box-shadow: 3px 3px 10px darkgray;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.con1 {
  margin-top: 5rem;
  display: flex;
  justify-content: center;
}

.fuck {
  margin-top: 2rem;
  background-color: #f9f9f9;
  min-height: 7rem;
  box-shadow: 3px 3px 10px darkgray;
  margin-left: 9%;
  margin-right: 9%;
  border-radius: 10px;
  padding-bottom: 1rem;
  padding-top: 1rem;
}
